.star-enter-from {
    position: absolute;
    top: 200px;
    width: 60px;
    height: 30px;
  }
  
  .star-enter-to {
    width: 224px;
    height: 320px;
  }
  
  .star-enter-active {
    transition: all 0.5s ease-in-out;
  }